.container {
  display: flex;
}
#picture {
  position: relative;
}
img#pic {
  width: 455px;
  height: 455px;
}

.rect {
  position: absolute;
  margin: 0 !important;
  padding: 0;
  width: 200px;
  height: 200px;
  background-color: grey;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.rect-active {
  opacity: .5;
}

.zoom {
  margin-left: 100px;
  margin-top: 40px;
  display: none;
}